* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	overflow: hidden;
	background-image: url(../img/background.png);
	cursor: default;
	color: white;
}

.button {
	height: 38px;
	width: 50px;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	background: white;
	color: black;
	font-weight: bold;
	font-family: Impact;
	font-size: 25px;
	box-shadow: 0px 0px 10px 5px #08E8DE;
	position: absolute;
	left: 50%;
}

.button-a {
	margin-left: -81px;
	top: 120px;
}

.button-d {
	margin-left: 31px;
	top: 120px;
}

.button-w {
	margin-left: -25px;
	top: 66px;
}

.button-s {
	margin-left: -25px;
	top: 120px;
}

.button-space {
	margin-left: -150px;
	top: 120px;
	width: 300px;
}

.text {
	font-size: 30px;
	font-weight: bold;
	font-family: Impact;
}

.title {
	margin-left: 60px;
	margin-top: 20px;
}

.title-text {
	font-style: italic;
	font-size: 50px;
	color: #BD8A42;
}

.start {
	position: absolute;
	height: 700px;
	width: 1200px;
	left: 50%;
	top: 50%;
	margin-top: -250px;
	margin-left: -600px;
}

.start-wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 50%;
	margin-left: -670px;
	top: 50%;
	margin-top: -350px;
}

.subtitle {
	text-align: center;
	position: absolute;
}

.moving {
	height: 240px;
	width: 300px;
	left: 100px;
	top: 100px;
}

.jumping {
	height: 240px;
	width: 500px;
	top: 100px;
	left: 400px;
}

.attack {
	height: 240px;
	width: 300px;
	top: 100px;
	left: 900px;
}

.mouse {
	height: 150px;
	width: 100px;
	border-radius: 100px / 90px;
	margin-left: -50px;
	top: 60px;
}

.left-mouse-button {
	height: 75px;
	width: 50px;
	background: red;
	border-top-left-radius: 100px;
	margin-top: -10px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.right-mouse-button {
	height: 75px;
	width: 50px;
	margin-left: 50px;
	margin-top: -76px;
	border-bottom: 1px solid black;
}

.footer {
	height: 150px;
	width: 1450px;
	position: absolute;
	top: 400px;
}

.hint {
	position: absolute;
	left: 50%;
	margin-left: -175px;
}

.hint-text {
	font-style: italic;
}

.circle {
	height: 100px;
	width: 100px;
	border-radius: 90px;
	border: 2px solid white;
	position: absolute;
	left: 50%;
	margin-left: -110px;
	margin-top: 35px;
}

.nonselect {
	cursor: default;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* GAME SECTION */

.console {
	font-weight: bold;
	color: skyblue;
	display: none;
}

.game-panel {
	display: none;
}

.damage {
	width: 100%;
	height: 100%;
	padding: 300px;
	position: absolute;
}

.aim {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	margin-top: -10px;
}

.menu-item {
	position: absolute;
	bottom: 0%;
	margin-bottom: 30px;
}

.menu-item img {
	height: 30px;
	width: 30px;
	display: inline-block;
}

.menu-item span {
	font-size: 43px;
	padding-left: 7px;
}

.health {
	left: 50px;
	color: rgb(227, 30, 36);
}

.shield {
	left: 300px;
	color: rgb(21, 161, 21);
}

.timer {
	left: 550px;
	color: rgb(251, 226, 81);
}

.weapon {
	position: absolute;
	bottom: 0%;
	right: 5%;
	margin-bottom: -5px;
}